openapi: 3.0.3
info:
  title: Defellix API
  description: >
    API Documentation for the Defellix Decentralized Freelancer Trust Platform.
    This API gateway routes requests to underlying microservices: Auth, User, Contract, and Blockchain.
  version: 1.0.0
servers:
  - url: https://api.defellix.com
    description: Production API via Cloudflare Tunnels
  - url: http://localhost:8080
    description: Local development via Nginx API Gateway
tags:
  - name: Auth
    description: Authentication and User Registration
  - name: User
    description: User Profile and Portfolio Management
  - name: Contract
    description: Freelancer Contract Creation and Lifecycle
  - name: Client
    description: Public endpoints for Clients to review and sign contracts
  - name: Submission
    description: Work submission and review process
  - name: Wallet
    description: Custodial Wallet Management

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Enter your JWT token in the format **Bearer &lt;token&gt;**

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string

    # --- AUTH MODULE SCHEMAS ---
    RegisterRequest:
      type: object
      required: [email, password, full_name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        full_name:
          type: string
          minLength: 2
          maxLength: 100
    
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
    
    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        user_id:
          type: integer
        email:
          type: string
        message:
          type: string
          description: Contextual message, used for OTP instructions.

    VerifyEmailRequest:
      type: object
      required: [email, otp]
      properties:
        email:
          type: string
          format: email
        otp:
          type: string
          minLength: 6
          maxLength: 6

    # --- USER MODULE SCHEMAS ---
    CreateProfileRequest:
      type: object
      required: [phone, user_name, what_do_you_do, short_headline, skills]
      properties:
        phone:
          type: string
        user_name:
          type: string
          description: Unique username for the public profile URL
        what_do_you_do:
          type: string
        photo:
          type: string
        short_headline:
          type: string
        location:
          type: string
        experience:
          type: string
        company_name:
          type: string
          description: Company name (optional)
        github_link:
          type: string
        linkedin_link:
          type: string
        portfolio_link:
          type: string
        instagram_link:
          type: string
        skills:
          type: array
          items:
            type: string

    UpdateProfileRequest:
      type: object
      properties:
        full_name:
          type: string
          description: User's full name
        user_name:
          type: string
          description: Unique username for public profile URL
        phone:
          type: string
          description: Contact phone number
        photo:
          type: string
          description: Profile photo URL (Cloudinary)
        what_do_you_do:
          type: string
          description: Professional role/title
        short_headline:
          type: string
          description: Professional tagline
        bio:
          type: string
          description: Detailed bio
        location:
          type: string
          description: City, Country
        experience:
          type: string
          description: Years of experience (e.g., "5+ years")
        company_name:
          type: string
          description: Company name (optional)
        github_link:
          type: string
          format: uri
        linkedin_link:
          type: string
          format: uri
        portfolio_link:
          type: string
          format: uri
        instagram_link:
          type: string
          format: uri
        skills:
          type: array
          items:
            type: string
          description: Array of skills/expertise
        show_profile:
          type: boolean
          description: Whether profile is publicly visible
        show_projects:
          type: boolean
          description: Whether projects are publicly visible
        show_contracts:
          type: boolean
          description: Whether contracts are publicly visible

    PublicProfileResponse:
      type: object
      properties:
        user_name:
          type: string
        full_name:
          type: string
        what_do_you_do:
          type: string
        headline:
          type: string
        bio:
          type: string
        skills:
          type: array
          items:
            type: string
        aggregate_reputation_score:
          type: integer
          description: Total Reputation Points earned on the platform
        projects:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        stats:
          type: object

    Project:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        description:
          type: string
        demo_url:
          type: string
        github_url:
          type: string

    # --- CONTRACT MODULE SCHEMAS ---
    CreateContractRequest:
      type: object
      required: [project_category, project_name, total_amount, client_name, client_email, milestones]
      properties:
        project_category:
          type: string
        project_name:
          type: string
        description:
          type: string
        due_date:
          type: string
          format: date-time
        total_amount:
          type: number
        currency:
          type: string
          default: INR
        prd_file_url:
          type: string
        submission_criteria:
          type: string
          description: Contract-level submission criteria (optional).
          example: "Video URL"
        client_name:
          type: string
        client_company_name:
          type: string
        client_email:
          type: string
          format: email
        client_phone:
          type: string
        client_country:
          type: string
        terms_and_conditions:
          type: string
        start_date:
          type: string
          format: date-time
        revision_policy:
          type: string
        out_of_scope_work:
          type: string
        intellectual_property:
          type: string
        estimated_duration:
          type: string
        payment_method:
          type: string
        advance_payment_required:
          type: boolean
        advance_payment_amount:
          type: number
        milestones:
          type: array
          items:
            $ref: '#/components/schemas/MilestoneInput'

    UpdateContractRequest:
      type: object
      properties:
        project_category:
          type: string
        project_name:
          type: string
        description:
          type: string
        due_date:
          type: string
          format: date-time
        total_amount:
          type: number
        currency:
          type: string
        prd_file_url:
          type: string
        submission_criteria:
          type: string
          description: Contract-level submission criteria (optional).
          example: "Video URL"
        client_name:
          type: string
        client_company_name:
          type: string
        client_email:
          type: string
          format: email
        client_phone:
          type: string
        client_country:
          type: string
        terms_and_conditions:
          type: string
        start_date:
          type: string
          format: date-time
        revision_policy:
          type: string
        out_of_scope_work:
          type: string
        intellectual_property:
          type: string
        estimated_duration:
          type: string
        payment_method:
          type: string
        advance_payment_required:
          type: boolean
        advance_payment_amount:
          type: number
        milestones:
          type: array
          items:
            $ref: '#/components/schemas/UpdateMilestoneInput'

    UpdateMilestoneInput:
      type: object
      properties:
        id:
          type: integer
          description: If provided, will update the existing milestone. If omitted, will create a new milestone.
        title:
          type: string
          description: Required if creating a new milestone.
        description:
          type: string
        amount:
          type: number
          description: Required if creating a new milestone.
        due_date:
          type: string
          format: date-time
        submission_criteria:
          description: Dynamic JSON, array, or string determining what specific deliverables (urls, files) are needed for this milestone.
          example: "Video URL"
        completion_criteria_tc:
          type: string
          description: Strict Terms & Conditions for milestone approval.
            
    MilestoneInput:
      type: object
      required: [title, amount]
      properties:
        title:
          type: string
        description:
          type: string
        amount:
          type: number
        due_date:
          type: string
          format: date-time
        submission_criteria:
          description: Flexible string or JSON object defining what deliverables are needed.
          example: "Video URL"
        completion_criteria_tc:
          type: string

    SuggestMilestonesRequest:
      type: object
      required:
        - project_name
        - project_category
        - description
        - total_amount
        - core_deliverable
        - out_of_scope_work
      properties:
        project_name:
          type: string
        project_category:
          type: string
        description:
          type: string
        total_amount:
          type: number
        currency:
          type: string
        start_date:
          type: string
        deadline:
          type: string
        estimated_duration:
          type: string
        core_deliverable:
          type: string
        out_of_scope_work:
          type: string
        revision_policy:
          type: string
        intellectual_property:
          type: string
        terms_and_conditions:
          type: string
        prd_uploaded:
          type: boolean
        prd_extracted_text:
          type: string
          description: >
            Optional raw PRD body from the user's session (e.g. sessionStorage after upload).
            Server truncates for the LLM context window.
        payment_method:
          type: string
          description: Selected payment method on Payment Terms (optional context for AI).

    SuggestedMilestoneAI:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        amount:
          type: number
        due_date:
          type: string
        submission_criteria:
          type: string
        completion_criteria_tc:
          type: string

    SuggestMilestonesResponse:
      type: object
      properties:
        milestones:
          type: array
          items:
            $ref: '#/components/schemas/SuggestedMilestoneAI'

    SuggestScopeRequest:
      type: object
      required:
        - project_name
        - project_category
        - description
        - total_amount
      properties:
        project_name:
          type: string
        project_category:
          type: string
        description:
          type: string
        total_amount:
          type: number
        currency:
          type: string
        start_date:
          type: string
        deadline:
          type: string
        estimated_duration:
          type: string
        revision_policy:
          type: string
        intellectual_property:
          type: string
        client_name:
          type: string
        client_company:
          type: string
        prd_uploaded:
          type: boolean
        prd_extracted_text:
          type: string
          description: Optional PRD plain text from client session; server truncates for LLM.

    SuggestScopeResponse:
      type: object
      properties:
        core_deliverable:
          type: string
        out_of_scope_work:
          type: string

    SuggestTermsMilestoneInput:
      type: object
      required: [title]
      properties:
        title:
          type: string
        amount:
          type: number
        due_date:
          type: string
        description:
          type: string
        submission_criteria:
          type: string
        completion_criteria_tc:
          type: string

    SuggestTermsRequest:
      type: object
      required:
        - project_name
        - project_category
        - description
        - total_amount
        - core_deliverable
        - out_of_scope_work
        - milestones
      properties:
        project_name:
          type: string
        project_category:
          type: string
        description:
          type: string
        total_amount:
          type: number
        currency:
          type: string
        start_date:
          type: string
        deadline:
          type: string
        estimated_duration:
          type: string
        core_deliverable:
          type: string
        out_of_scope_work:
          type: string
        revision_policy:
          type: string
        intellectual_property:
          type: string
        client_name:
          type: string
        client_company:
          type: string
        client_email:
          type: string
        client_phone:
          type: string
        client_country:
          type: string
        freelancer_name:
          type: string
        payment_method:
          type: string
        milestones:
          type: array
          items:
            $ref: '#/components/schemas/SuggestTermsMilestoneInput'
        prd_uploaded:
          type: boolean
        prd_extracted_text:
          type: string
        existing_terms:
          type: string
          description: Optional current textarea content to refine.

    SuggestTermsResponse:
      type: object
      properties:
        terms_and_conditions:
          type: string

    ContractResponse:
      type: object
      properties:
        id:
          type: integer
        status:
          type: string
        is_revised:
          type: boolean
          description: True if the freelancer has updated the contract after the client requested revisions.
        
    WalletResponse:
      type: object
      properties:
        id:
          type: integer
        user_id:
          type: integer
        user_type:
          type: string
        address:
          type: string
          description: The Base L2 public cryptographic wallet address automatically generated for the user.
        network:
          type: string
        created_at:
          type: string
          format: date-time
          
    ContractRecordResponse:
      type: object
      properties:
        contract_id:
          type: integer
        transaction_hash:
          type: string
        transaction_id:
          type: string
        block_number:
          type: integer
        gas_used:
          type: integer
        status:
          type: string
        network:
          type: string
        created_at:
          type: string
          format: date-time
        project_name:
          type: string
        total_amount:
          type: number
        shareable_link:
          type: string
          description: Unique URL to send to the client (available when status is sent or higher)
        client_review_comment:
          type: string
          description: Comment from the client if they requested revisions before signing.

    ClientSignRequest:
      type: object
      required: [otp, company_address]
      properties:
        otp:
          type: string
          description: Required 6-digit PIN securely sent to the client's registered email. Use the /send-otp endpoint to generate this code.
        company_address:
          type: string
          description: Required. Can be 'Remote', a full physical address, or a Google Maps URL.
        email:
          type: string
        phone:
          type: string
        company_name:
          type: string
        gst_number:
          type: string
          description: Optional for Indian businesses. Validator to be added in Phase 6.

    SendOTPRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
          description: Must exactly match the client_email registered on the contract.

    # --- SUBMISSION MODULE SCHEMAS ---
    SubmissionRequest:
      type: object
      required: [submitted_data, description]
      properties:
        status:
          type: string
          enum: [draft, pending_review]
        milestone_id:
          type: integer
          description: Optional. Set to link this submission to a specific milestone.
        submitted_data:
          type: object
          description: Dynamic JSON mapping fulfilling the exact 'submission_criteria' previously defined.
        description:
          type: string
          description: Free-form description of the delivered work and any links to files/repo.
          
    UpdateSubmissionRequest:
      type: object
      properties:
        status:
          type: string
          enum: [draft, pending_review]
        submitted_data:
          type: object
          description: Dynamic JSON mapping fulfilling the exact 'submission_criteria' previously defined.
        description:
          type: string
          description: Free-form description of the delivered work and any links to files/repo.
          
    ClientReviewRequest:
      type: object
      required: [action]
      properties:
        action:
          type: string
          enum: [accept, revision]
          description: Use "accept" to approve and finalize the work. Use "revision" to reject it back to the freelancer with mandatory feedback.
        comment:
          type: string
          description: Required if action is 'revision'. Optional feedback if 'accept'.

paths:
  # ==========================================
  # AUTH SERVICE
  # ==========================================
  /api/v1/auth/register:
    post:
      tags: [Auth]
      summary: Register a new user
      description: Creates an account and dispatches a 6-digit OTP to the provided email. The user must call `/verify-email` before they can login.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered successfully, OTP sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'

  /api/v1/auth/verify-email:
    post:
      tags: [Auth]
      summary: Verify Email via OTP
      description: Accepts the 6-digit OTP sent to the user's email during registration. Unlocks the account and returns the standard JWT.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerifyEmailRequest'
      responses:
        '200':
          description: Email verified successfully, JWT returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid or expired OTP
        '409':
          description: User is already verified

  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Login user
      description: Returns a JWT if credentials are correct. Will return 403 Forbidden if the account email has not been verified yet via OTP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Successful login
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '403':
          description: Account not verified. Check email for OTP.

  /api/v1/auth/oauth/google:
    get:
      tags: [Auth]
      summary: Login with Google (OAuth 2.0)
      description: Redirects the user to Google's consent screen. Set the `role` parameter to determine the account type for new registrations.
      parameters:
        - name: role
          in: query
          required: false
          schema:
            type: string
            enum: [freelancer, client]
            default: freelancer
      responses:
        '307':
          description: Temporary redirect to Google Identity Provider
  
  /api/v1/auth/oauth/linkedin:
    get:
      tags: [Auth]
      summary: Login with LinkedIn (OAuth 2.0)
      description: Redirects the user to LinkedIn's consent screen. Set the `role` parameter to determine the account type for new registrations.
      parameters:
        - name: role
          in: query
          required: false
          schema:
            type: string
            enum: [freelancer, client]
            default: freelancer
      responses:
        '307':
          description: Temporary redirect to LinkedIn Identity Provider

  /api/v1/auth/logout:
    post:
      tags: [Auth]
      summary: Logout user
      description: Instructs the browser to drop the HttpOnly access token seamlessly via `Max-Age=-1`.
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        '200':
          description: Logged out successfully

  /api/v1/auth/complete-oauth:
    post:
      tags: [Auth]
      summary: Complete OAuth registration
      description: Promotes a pending OAuth user to the main users table after Step 2 completion. Called internally by user-service.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
                  description: Email of the pending OAuth user
      responses:
        '200':
          description: OAuth registration completed, user created in main table
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      access_token:
                        type: string
                      refresh_token:
                        type: string
                      token_type:
                        type: string
                      expires_in:
                        type: integer
                      user_email:
                        type: string
                  message:
                    type: string
        '400':
          description: Pending OAuth registration not found or expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /api/v1/auth/me:
    get:
      tags: [Auth]
      summary: Get current authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User details returned

  # ==========================================
  # USER SERVICE
  # ==========================================
  /api/v1/users/me:
    get:
      tags: [User]
      summary: Get current user profile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Profile retrieved successfully
    put:
      tags: [User]
      summary: Update user profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated successfully

  /api/v1/users/me/profile:
    post:
      tags: [User]
      summary: Create or update freelancer profile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProfileRequest'
      responses:
        '200':
          description: Profile updated

  /api/v1/public/profile/{user_name}:
    get:
      tags: [User]
      summary: View public profile by username
      description: This is a public, unauthenticated endpoint to display the freelancer's portfolio, skills, and Reputation Score.
      parameters:
        - name: user_name
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Profile details returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicProfileResponse'

  # ==========================================
  # CONTRACT SERVICE (Freelancer)
  # ==========================================
  /api/v1/contracts:
    post:
      tags: [Contract]
      summary: Create a new draft contract
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequest'
      responses:
        '201':
          description: Draft created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponse'
    get:
      tags: [Contract]
      summary: List freelancer's contracts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Contracts returned

  /api/v1/contracts/{id}:
    get:
      tags: [Contract]
      summary: Get contract by ID
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contract details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponse'
        '404':
          description: Contract not found
    put:
      tags: [Contract]
      summary: Update a draft or pending contract
      description: Allows a freelancer to edit contract terms and milestones. Only allowed if the contract status is `draft` or `pending` (client requested revisions).
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContractRequest'
      responses:
        '200':
          description: Contract updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractResponse'
        '403':
          description: Only draft or pending contracts can be edited
        '404':
          description: Contract not found
    delete:
      tags: [Contract]
      summary: Delete a draft contract
      description: Deletes a contract entirely. Only allowed if the status is `draft`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Contract deleted successfully
        '403':
          description: Only draft contracts can be deleted
        '404':
          description: Contract not found

  /api/v1/contracts/{id}/send:
    post:
      tags: [Contract]
      summary: Send contract to client
      description: Transitions contract from `draft` to `sent`, generates a shareable link token, and triggers an email notification to the client.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Contract sent successfully. Returns the shareable link.

  /api/v1/contracts/prd-upload:
    post:
      tags: [Contract]
      summary: Upload PRD file to Cloudinary
      description: Accepts a PRD file (PDF, DOCX) and uploads it to Cloudinary. Returns the secure URL for the uploaded file.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: PRD file (PDF or DOCX)
      responses:
        '200':
          description: PRD uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      prd_file_url:
                        type: string
                        format: uri
                        example: https://res.cloudinary.com/demo/raw/upload/v1234567890/prd.pdf
                      extracted_contract:
                        type: object
                        description: Structured fields parsed from the PRD (same shape as extract-from-prd).
                      prd_extracted_text:
                        type: string
                        description: Plain text extracted from the PRD (capped server-side) for client session cache and milestone AI.
                  message:
                    type: string
                    example: PRD uploaded
        '400':
          description: File is required or invalid
        '500':
          description: Cloudinary not configured or upload failed

  /api/v1/contracts/suggest-milestones:
    post:
      tags: [Contract]
      summary: AI-suggested milestone breakdown
      description: >
        Returns milestone rows whose amounts sum to the requested total_amount, tuned for Indian freelancer–client
        workflows and progressive payouts (Groq LLM).
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestMilestonesRequest'
      responses:
        '200':
          description: Suggested milestones
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/SuggestMilestonesResponse'
                  message:
                    type: string
        '400':
          description: Validation error
        '500':
          description: GROQ_API_KEY missing or AI failure

  /api/v1/contracts/suggest/scope:
    post:
      tags: [Contract]
      summary: AI-suggested core deliverable and out-of-scope
      description: >
        Returns core_deliverable and out_of_scope_work from project description, timeline, contract total,
        client context, and optional PRD excerpt (Groq LLM). Path uses two segments (`suggest/scope`) so it
        is not mistaken for `GET /contracts/{id}`. Legacy alias `POST /contracts/suggest-scope` may still be enabled server-side.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestScopeRequest'
      responses:
        '200':
          description: Suggested scope text
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/SuggestScopeResponse'
                  message:
                    type: string
        '400':
          description: Validation error
        '500':
          description: GROQ_API_KEY missing or AI failure

  /api/v1/contracts/suggest/terms:
    post:
      tags: [Contract]
      summary: AI-suggested terms & conditions
      description: >
        Full contract-style terms from project, client, milestones, timeline, payment method, scope, optional PRD excerpt,
        and optional existing draft. Includes communication/ghosting and integrity clauses (India-oriented); not legal advice.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestTermsRequest'
      responses:
        '200':
          description: Generated terms text (truncated server-side to fit contract storage limits)
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    $ref: '#/components/schemas/SuggestTermsResponse'
                  message:
                    type: string
        '400':
          description: Validation error
        '500':
          description: GROQ_API_KEY missing or AI failure

  /api/v1/contracts/extract-from-prd:
    post:
      tags: [Contract]
      summary: Extract contract data from PRD using AI
      description: Downloads the PRD file from the provided URL and uses Groq LLM to extract structured contract data (project details, client info, dates, terms, etc.). The extracted data can be used to auto-fill the contract creation form.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [prd_file_url]
              properties:
                prd_file_url:
                  type: string
                  format: uri
                  example: https://res.cloudinary.com/demo/raw/upload/v1234567890/prd.pdf
      responses:
        '200':
          description: PRD data extracted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      extracted_contract:
                        type: object
                        properties:
                          project_title:
                            type: string
                            example: E-commerce Platform Development
                          project_type:
                            type: string
                            example: Web Development
                          project_description:
                            type: string
                            example: Build a modern e-commerce platform with payment integration
                          terms_and_conditions:
                            type: string
                            example: Standard professional conduct and confidentiality terms apply
                          start_date:
                            type: string
                            format: date
                            example: 2026-03-15
                          deadline:
                            type: string
                            format: date
                            example: 2026-06-30
                          client:
                            type: object
                            properties:
                              name:
                                type: string
                                example: John Doe
                              email:
                                type: string
                                format: email
                                example: john@example.com
                              phone:
                                type: string
                                example: +1234567890
                              company:
                                type: string
                                example: Acme Corp
                              country:
                                type: string
                                example: United States
                          scope:
                            type: string
                            example: Full-stack development with payment integration
                          deliverables:
                            type: string
                            example: Deployed application with admin panel
                          payment_terms:
                            type: string
                            example: 50% upfront, 50% on completion
                      prd_extracted_text:
                        type: string
                        description: Plain text extracted from the PRD (capped) for client session cache.
                  message:
                    type: string
                    example: PRD extracted
        '400':
          description: Invalid or missing prd_file_url
        '500':
          description: Groq API error or extraction failed

  /api/v1/contracts/{id}/submissions:
    get:
      tags: [Submission]
      summary: List submissions for a contract
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: List of submissions returned.
    post:
      tags: [Submission]
      summary: Submit work against a signed contract
      description: Freelancers submit structured JSON (`submitted_data`) mapped to the explicit `submission_criteria` in the Milestone. Defaults to `draft` state unless strictly specified as `pending_review`.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionRequest'
      responses:
        '201':
          description: Work submitted and client notified via email.

  /api/v1/contracts/{id}/submissions/{sub_id}:
    put:
      tags: [Submission]
      summary: Update a drafted or revision-requested submission
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
        - name: sub_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubmissionRequest'
      responses:
        '200':
          description: Submission updated successfully.

  /api/v1/contracts/{id}/certificate:
    get:
      tags: [Contract]
      summary: GET Section 65B Certificate
      description: Auto-generates a court-admissible HTML/PDF document citing blockchain proof and contract terms. Only available for `signed` or `completed` contracts.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: HTML document returned for printing to PDF.

  # ==========================================
  # WEb3 WALLET & BLOCKCHAIN SERVICES
  # ==========================================
  /api/v1/wallets/get:
    post:
      tags: [Wallet]
      summary: Get user wallet details
      description: Retrieves the public keys and on-chain details for the currently logged in user. Used to verify the identity of the signer.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, user_type]
              properties:
                user_id:
                  type: integer
                user_type:
                  type: string
                  enum: [freelancer, client]
      responses:
        '200':
          description: Wallet Details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/WalletResponse'

  /api/v1/blockchain/contracts/get:
    post:
      tags: [Blockchain]
      summary: Get contract blockchain record
      description: Retrieves the on-chain metadata (transaction hashes, blocks) for a confirmed contract.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [contract_id]
              properties:
                contract_id:
                  type: integer
      responses:
        '200':
          description: Blockchain metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ContractRecordResponse'

  # ==========================================
  # CONTRACT SERVICE (Client Review - Public)
  # ==========================================
  /api/v1/public/contracts/{token}:
    get:
      tags: [Client]
      summary: View contract (Client)
      description: Public endpoint for clients to view the contract using the shareable link token. No auth required.
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Contract details returned.

  /api/v1/public/contracts/{token}/send-otp:
    post:
      tags: [Client]
      summary: Send OTP (Client)
      description: Generates a 6-digit PIN and sends it securely to the client's email via SMTP if the email matches the contract's registered address. Required before signing.
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendOTPRequest'
      responses:
        '200':
          description: OTP sent successfully
        '400':
          description: Bad request or validation error
        '404':
          description: Contract not found

  /api/v1/public/contracts/{token}/sign:
    post:
      tags: [Client]
      summary: Sign contract (Client)
      description: Client submits their address, demographic information, and the 6-digit OTP code sent to their email. Validating this OTP cryptographically embeds identity trust into the blockchain.
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientSignRequest'
      responses:
        '200':
          description: Contract signed and recorded on blockchain.

  /api/v1/public/contracts/{token}/send-for-review:
    post:
      tags: [Client]
      summary: Send contract back for revision (Client)
      description: Allows a client to request changes or add feedback to a `sent` contract before signing it. Changes the status to `pending`.
      parameters:
        - in: path
          name: token
          required: true
          schema:
            type: string
          description: Client view token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [comment]
              properties:
                comment:
                  type: string
                  description: Client feedback/revision request
      responses:
        '200':
          description: Sent for review successfully
        '400':
          description: Bad request or validation error
        '404':
          description: Contract not found
        '409':
          description: Contract is already pending review

  /api/v1/public/contracts/{token}/submissions/{sub_id}/review:
    post:
      tags: [Submission, Client]
      summary: Review submitted work (Client)
      description: Client can accept or reject the deliverable. If accepted (action=accept), the contract completes, Reputation Points are sent, and the contract is saved to the public profile. If rejected (action=revision), the comment is permanently injected into the JSONB revision_history audit trail.
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
        - name: sub_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientReviewRequest'
      responses:
        '200':
          description: Review processed.

  # ==========================================
  # BLOCKCHAIN SERVICE
  # ==========================================
  /api/v1/wallets:
    post:
      tags: [Wallet]
      summary: Create Custodial Wallet
      description: Automatically generates an AES-256 encrypted EVM wallet for the user to interact with the Base L2 chain.
      security:
        - bearerAuth: []
      responses:
        '201':
          description: Wallet created/returned.
